# Python virtual environment
.venv/
venv/
env/

# Django
__pycache__/
*.pyc

# Environment variables
*.env
.env.*

# TLS certificates and keys
certs/
*.pem
*.key
*.crt

# postman setup
postman/
POSTMAN_TEST_SCENARIOS.md

# test reports
reports/
.coverage
.pytest_cache/
conftest.py
pytest.ini
evaluation/

# postman scripts
scripts/
*.js
*.sh