{% extends "./base.html" %}
{% block content %}

<h1>Identity Management</h1>

{% if scope == 'owned' %}
<h2>My Identities</h2>
{% elif scope == 'shared' %}
<h2>Identities Shared with Me</h2>
{% else %}
<h2>Public Identities List</h2>
{% endif %}

{% for identity in identities %}
<h2>Identity: {{ identity.id }}</h2>
<div class="section">
    <table>
        <tr>
            <th>ID</th>
            <th>Gender</th>
            <th>Public?</th>
            {% if scope == 'owned' %}
            <th>Actions</th>
            {% endif %}
        </tr>
        <tr>
            <td>{{ identity.id }}</td>
            <td>{{ identity.gender.name }}</td>
            <td>{% if identity.is_public %}Yes{% else %}No{% endif %}</td>
            {% if scope == 'owned' %}
            <td><a href="{%url 'ui:delete-identity' identity.id %}">Delete</a> <a
                    href="{%url 'ui:edit-identity' identity.id %}">Edit</a></td>
        </tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <th>Name</th>
            <th>Context</th>
            <th>Default?</th>
            {% if scope == 'owned' %}
            <th>Actions</th>
            {% endif %}
        </tr>
        {% for name in identity.names %}
        <tr>
            <td>{{ name.name_value }}</td>
            <td>{{ name.name_context.name }}</td>
            <td>{% if name.is_default %}Yes{% else %}No{% endif %}</td>
            {% if scope == 'owned' %}
            <td><a href="{% url 'ui:delete-name' name.id %}">Delete</a> <a
                    href="{% url 'ui:edit-name' name.id %}">Edit</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if scope == 'owned' %}
    <h3>Add Name</h3>
    <form method="POST" action="{% url 'ui:add-name' %}">
        {% csrf_token %}

        <input type="hidden" name="identity_id" value="{{ identity.id }}">
        <label>Name context:</label>
        <select name="name_context_id">
            {% for context in name_contexts %}
            <option value="{{ context.id }}">{{ context.name }}</option>
            {% endfor %}
        </select>
        <label>Name value:</label>
        <input type="text" name="name_value">
        <label>Default?</label>
        <input type="checkbox" name="is_default">
        <button type="submit">Add Name</button>
    </form>
    <table>
        <tr>
            <th>User Accessing Identity</th>
            <th>Relationship Type</th>
            <th>Actions</th>
        </tr>
        {% for relation in identity.relationships %}
        <tr>
            <td>{{ relation.consumer }}</td>
            <td>{{ relation.relationship_type }}</td>
            <td><a href="{% url 'ui:delete-relationship' relation.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h3>Add Relationship</h3>
    <form method="POST" action="{% url 'ui:add-relationship' %}">
        {% csrf_token %}

        <input type="hidden" name="identity_id" value="{{ identity.id }}">
        <label>Consumer:</label>
        <select name="consumer">
            {% for consumer in consumers %}
            <option value="{{ consumer.id }}">{{ consumer.username }}</option>
            {% endfor %}
        </select>
        <label>Relationship Type:</label>
        <select name="relationship_type_id">
            {% for rt in relationship_types %}
            <option value="{{ rt.id }}">{{ rt.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Add Relationship</button>
    </form>
    {% endif %}
</div>
{% endfor %}
{% endblock %}