{% extends "./base.html" %}
{% block content %}

<h1>Identity Management</h1>
<p>Logged in as: <strong>{{ user.username }}</strong></p>

<h2>Identities</h2>
{% for identity in identities %}
<div class="section">
    <table>
        <tr>
            <th>ID</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>{{ identity.id }}</td>
            <td>{{ identity.gender.name }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Name</th>
            <th>Context</th>
        </tr>
        {% for name in identity.names.all %}
        <tr>
            <td>{{ name.name }}</td>
            <td>{{ name.context.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>Related Identity</th>
            <th>Relationship Type</th>
        </tr>
        {% for relation in identity.relationships.all %}
        <tr>
            <td>{{ relation.related_identity.id }}</td>
            <td>{{ relation.relationship_type.name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}