{% extends "./base.html" %}
{% block content %}

<h1>Identity Management</h1>
<p>Logged in as: <strong>{{ user.username }}</strong></p>

<h2>Identities</h2>
{% for identity in identities %}
<div class="section">
    <table>
        <tr>
            <th>ID</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>{{ identity.id }}</td>
            <td>{{ identity.gender.name }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Name</th>
            <th>Context</th>
        </tr>
        {% for name in identity.names.all %}
        <tr>
            <td>{{ name.name_value }}</td>
            <td>{{ name.name_context.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>User Accessing Identity</th>
            <th>Relationship Type</th>
            <th>Actions</th>
        </tr>
        {% for relation in identity.relationships.all %}
        <tr>
            <td>{{ relation.consumer.username }}</td>
            <td>{{ relation.relationship_type.name }}</td>
            <td><a href="{% url 'ui:delete-relationship' relation.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h3>Add Relationship</h3>
    <form method="POST" action="{% url 'ui:add-relationship' %}">
        {% csrf_token %}

        <input type="hidden" name="identity_id" value="{{ identity.id }}">
        <label>Consumer:</label>
        <select name="consumer">
            {% for consumer in consumers %}
            <option value="{{ consumer.id }}">{{ consumer.username }}</option>
            {% endfor %}
        </select>
        <label>Relationship Type:</label>
        <select name="relationship_type_id">
            {% for rt in relationship_types %}
            <option value="{{ rt.id }}">{{ rt.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Add Relationship</button>
    </form>
</div>
{% endfor %}
{% endblock %}