{% extends "ui/base.html" %}
{% load static %}

{% block content %}
<h4>Login</h4>

{% if messages %}
<div class="section">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-fields">
        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>
        {% if form.username.errors %}
        <div class="form-errors">{{ form.username.errors }}</div>
        {% endif %}
        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
        </p>
        {% if form.password.errors %}
        <div class="form-errors">{{ form.password.errors }}</div>
        {% endif %}
    </div>
    <input type="submit" value="Login" class="button-link" />
</form>

<p>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
</p>
{% endblock %}
