{% extends "ui/base.html" %}
{% load static %}

{% block content %}
<h4>Set New Password</h4>

{% if validlink %}
<p>Enter your new password below.</p>
<form method="post">
    {% csrf_token %}
    <div class="form-fields">
        <p>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </p>
        {% if form.new_password1.errors %}
        <div class="form-errors">{{ form.new_password1.errors }}</div>
        {% endif %}
        <small>{{ form.new_password1.help_text|safe }}</small>

        <p>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </p>
        {% if form.new_password2.errors %}
        <div class="form-errors">{{ form.new_password2.errors }}</div>
        {% endif %}
    </div>
    <input type="submit" value="Change password" class="button-link" />
</form>
{% else %}
<div class="form-errors">
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.</p>
</div>
<p><a href="{% url 'password_reset' %}" class="button-link">Request new password reset</a></p>
{% endif %}
{% endblock %}
