{% extends "ui/base.html" %}
{% load static %}

{% block content %}
<h4>Password Reset</h4>
<p>Enter your email address to reset your password.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-fields">
        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
        </p>
        {% if form.email.errors %}
        <div class="form-errors">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    <input type="submit" value="Send reset email" class="button-link" />
</form>
{% endblock %}
