{% extends "ui/base.html" %}
{% load static %}

{% block content %}
<h4>Change Password</h4>

<form method="post">
    {% csrf_token %}
    <div class="form-fields">
        <p>
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
        </p>
        {% if form.old_password.errors %}
        <div class="form-errors">{{ form.old_password.errors }}</div>
        {% endif %}

        <p>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </p>
        {% if form.new_password1.errors %}
        <div class="form-errors">{{ form.new_password1.errors }}</div>
        {% endif %}
        <small>{{ form.new_password1.help_text|safe }}</small>

        <p>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </p>
        {% if form.new_password2.errors %}
        <div class="form-errors">{{ form.new_password2.errors }}</div>
        {% endif %}
    </div>
    <input type="submit" value="Change password" class="button-link" />
</form>
{% endblock %}
